.menu{
    list-style-type: none;
}

.menu .menu-item {
    text-align: center;
    padding: 14px 0;
    color: #fff;
}

.menu .menu-item a{
    color: inherit;
    text-decoration: none;
}

.menu .menu-item:hover{
    cursor: pointer;
    background-color: #fff;
    color: #008c8c;
}
